// .container{
//     font-size: 36rpx;
//     font-family: PingFangSC-Regular;
//     height: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-between;
//     box-sizing: border-box;
// }

page {
    height: 100%;
    color: #333333;
    background-color: #EFEFF4;
    font-size: 36rpx;
}