page {
    height: 100%;
    color: #333333;
    background-color: #EFEFF4;
    font-size: 36rpx;
    font-family: "Microsoft YaHei","黑体","宋体",sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
}